RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !=/server-status
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{THE_REQUEST} \s/+index\.php[\s?] [NC]
RewriteRule ^index\.php$ / [R=301,L]

RewriteRule ^$ index.php [L,QSA]
RewriteRule ^admin/?$ admin/index.php [L,QSA]

RewriteRule ^([^./]+)/?$ index.php?page=$1 [L,QSA]
RewriteRule ^([^./]+)/([^./]+)/?$ index.php?page=$1&page2=$2 [L,QSA]
RewriteRule ^([^./]+)/([^./]+)/([^./]+)/?$ index.php?page=$1&page2=$2&page3=$3 [L,QSA]
RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?page=$1&page2=$2&page3=$3&page4=$4 [L,QSA]
RewriteRule ^([^./]+)/([^./]+)/([^./]+)/([^./]+)/([^./]+)/?$ index.php?page=$1&page2=$2&page3=$3&page4=$4&page5=$5 [L,QSA]